body {
    font-family: 'Archivo', sans-serif;
    font: 120%;
    color: #3D342D;
    background-color: #DECFB2;
    
}
header, main, footer{
    width: 40em;
    max-width: 98%;
    margin: 2em auto;
    line-height: 1.5;
}
h1, h2, h3 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 160%;
    font-weight: 500;
    color: #3D342D;
 }
 a:link{
    color: #8304D7;
}
a:visited {
    color: #146600;
}
a:hover {
    color: #AF0442;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}
nav#menu a {
    text-decoration: none;
    display: block;
    padding: 0.5em 1em;
    color: #E1C098;
    background-color: #3D342D;
    border: 1PX solid black;
}
nav#menu a:hover {
    color:#FF8712 ;
}