body {
    font-family: 'Archivo', sans-serif;
    font: 120%;
    color: #4d2600;
    background-color: #ffcc99;
    
}
h1, h2, h3 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 160%;
    font-weight: 500;
    color: #4d2600;
 }
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}
nav a {
    text-decoration: none;
    display: block;
    padding: 0.5em 1em;
    color: #3399ff;
    background-color: #ffe6cc;
    border: 1px solid black;
}
